.signup-button {
  background-color: azure;
}

.signup-button:hover {
  background-color: aquamarine;
}

.signup-button-for-splash {
  background-color: white;
}

.signup-button-for-splash:hover {
  background-color: aqua;
}
