.home-container {
  display: flex;
  width: 99vw;
  height: 100vh;
  /* padding-top: 100px; */
  /* border-left: 1px solid black; */
}

.left-home-container {
  width: 30vw;
  /* this  */
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  max-height: 100%;
  border-right: 1px solid black;
  padding: 20px;
  padding-top: 140px;
}
.right-home-container {
  width: 69vw;
  margin-left: 30vw;
  /* this  */
  height: 100vh;
  padding: 20px;

  padding-top: 140px;
}

.bottom-right-home-container {
  /* display: flex; */
  justify-content: center;
  /* flex-direction: column; */

  align-items: center;
  height: 92vh;
}

.inner-bottom-right {
  padding-bottom: 100px;
}

.deleteList {
  text-align: center;
  cursor: pointer;
}

.deleteEmail {
  text-align: center;
  cursor: pointer;
}

.updateName {
  display: inline-block;
  position: relative;
  align-items: center;
  font-size: 12px;
  font-style: italic;
  font-style: oblique 290deg;
  font-weight: 500;
  color: rgb(155, 151, 151);
  left: 10px;
}
